---
import PageSection from '../common/PageSection.astro'
---

<PageSection>
  <p>
    Soy un estudiante de último año de Ingeniería Informática en la Universidad Carlos III de Madrid, donde he adquirido conocimientos en desarrollo de software, desarrollo web, bases de datos e inteligencia artificial, entre otros. Soy una persona proactiva y perfeccionista, siempre buscando maneras de aportar valor y crear diferencias significativas en todo lo que hago.
  </p>
  <p>
    En el ámbito laboral, me caracterizo por mi dedicación y compromiso con las responsabilidades que se me asignan, así como aprovecho cada proyecto para demostrar mi dedicación y habilidades, siempre buscando crear software de calidad.
  </p>
  <p>
    Creo firmemente en la importancia de la innovación y el trabajo en equipo para lograr resultados sobresalientes. Mi objetivo es seguir creciendo profesionalmente, enfrentando nuevos desafíos y contribuyendo al mundo de la tecnología con soluciones creativas y eficientes.
  </p>
</PageSection>

<style>
  p { margin-bottom: 15px; }

  p:last-of-type { margin-bottom: 0; }
</style>
