---
import Layout from '../layouts/Layout.astro';
import PersonalInformation from '../components/PersonalInformation.astro';
---

<Layout title="Portfolio">
	<!-- <Settings /> -->
	<PersonalInformation />
	<main>

	</main>
</Layout>

<style>
	
</style>
