---

import Separator from './common/Separator.astro';
import PageCard from './common/PageCard.astro';
import ProfilePicture from './personalInformation/ProfilePicture.astro';
import ContactInformation from './personalInformation/ContactInformation.astro';
import SocialLinks from './personalInformation/SocialLinks.astro';

---

<script>
	function toggleActive() {
		const personalInformation = document.querySelector('.personal-information');
		personalInformation?.classList.toggle('active');

	}

	document.querySelector('.information-more_button')?.addEventListener('click', toggleActive);
</script>

<PageCard className="personal-information">
	<section class="head-information">
		<ProfilePicture />
		<div class="info-content">
			<h1 class="name">Diego Calvo Engelmo</h1>
			<p class="title">Software Developer</p>
		</div>
		<button class="information-more_button">
			<span class="show-contact-span">Mostrar Contacto</span>
			<span class="hide-contact-span">Ocultar Contacto </span>
			<ion-icon name="chevron-down" role="img" aria-label="chevron down"></ion-icon>
		</button>
	</section>
	<section class="information-more">
		<Separator />
		<ContactInformation />
		<Separator />
		<SocialLinks />
	</section>
</PageCard>



<style is:global>
	.personal-information {
		margin-bottom: 15px;
		max-height: 112px;
		overflow: hidden;
		display: block !important;
		animation: none !important
	}

	.personal-information.active { max-height: 405px; }

	.personal-information.active .information-more {
		opacity: 1;
		visibility: visible;
	}

	.personal-information.active .information-more_button ion-icon {
		transform: rotate(180deg);
	}

	@media (min-width: 580px) {
		.personal-information {
			max-height: 180px;
    		margin-bottom: 30px;	
		}
		.personal-information.active { max-height: 584px; }

		.personal-information.active .show-contact-span { display: none; }
		.personal-information.active .hide-contact-span { display: block; }
	}

	@media (min-width: 1250px) {
		.personal-information {
			position: sticky;
			top: 60px;
			max-height: max-content !important;
			height: 100%;
			margin-bottom: 0;
			padding-top: 60px;
			z-index: 1;
		}
	}

</style>

<style>
	.head-information {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 15px;
	}

	.info-content .name {
		color: var(--white-2);
		font-size: var(--fs-2);
		font-weight: var(--fw-500);
		letter-spacing: -0.25px;
		margin-bottom: 10px;
	}

	.info-content .title {
		color: var(--white-1);
		background: var(--onyx);
		font-size: var(--fs-8);
		font-weight: var(--fw-300);
		width: max-content;
		padding: 3px 12px;
		border-radius: 8px;
	}

		

	.information-more_button {
		position: absolute;
		top: -15px;
		right: -15px;
		border-radius: 0 15px;
		font-size: 13px;
		color: var(--blue-green-crayola);
		background: var(--border-gradient-onyx);
		padding: 10px;
		filter: drop-shadow(var(--shadow-2));
		transition: var(--transition-1);
		z-index: 1;
	}

	.information-more_button::before {
		content: "";
		position: absolute;
		inset: 1px;
		border-radius: inherit;
		background: var(--bg-gradient-jet);
		transition: var(--transition-1);
		z-index: -1;
	}

	.information-more_button:hover,
	.information-more_button:focus { background: var(--bg-gradient-blue-1); }

	.information-more_button:hover::before,
	.information-more_button:focus::before { background: var(--bg-gradient-blue-2); }


	.information-more {
		opacity: 0;
		visibility: hidden;
		transition: var(--transition-2);
	}

	@media (max-width: 580px) {
		.information-more_button span { display: none; }
	}

	@media (min-width: 580px) {
		.head-information { gap: 25px; }

		.info-content .name { margin-bottom: 15px; }

		.info-content .title { padding: 5px 18px; }

		.information-more_button {
			top: -30px;
			right: -30px;
			padding: 10px 15px;
		}

		.information-more_button span {
			font-size: var(--fs-8);
		}
		
		.show-contact-span { display: block; }
		.hide-contact-span { display: none; }


		.information-more_button ion-icon { display: none; }
	}

	@media (min-width: 1250px) {
		.head-information { flex-direction: column; }
		.information-more {
			opacity: 1;
			visibility: visible;
		}
		.info-content .name {
    		/* white-space: nowrap; */
    		text-align: center;
 		}

  	.info-content .title { margin: auto; }
		.contact-info :is(.contact-link) {
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
		}	

		.information-more_button { display: none; }
	}
</style>

