---
interface Props {
    className?: string;
    icon?: string;
}

const { className="", icon } = Astro.props;
---


<div class={className}>
    {icon && <ion-icon name={icon}></ion-icon>}
    <slot/>
</div>

<style>
    div {
    position: relative;
    background: var(--border-gradient-onyx);
    width: 48px;
    height: 48px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--blue-green-crayola);
    box-shadow: var(--shadow-1);
    z-index: 1;
    }

    div:before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--eerie-black-1);
    border-radius: inherit;
    z-index: -1;
    }

/* div ion-icon { --ionicon-stroke-width: 35px; } */
</style>