---
import '@fontsource-variable/noto-sans';
import WelcomeScreen from '../components/WelcomeScreen.astro';
import PersonalInformation from '../components/PersonalInformation.astro';


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="TODO" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	</head>
	<body>
		<WelcomeScreen />
		<main>
			<PersonalInformation />
			<div class="main-content">
				<slot />
			</div>
		</main>
	</body>
</html>
<style is:global>
	:root {
		--bg-gradient-onyx: linear-gradient(
			to bottom right, 
			hsl(240, 1%, 25%) 3%, 
			hsl(0, 0%, 19%) 97%
		);
		--bg-gradient-jet: linear-gradient(
			to bottom right, 
			hsla(240, 1%, 18%, 0.251) 0%, 
			hsla(240, 2%, 11%, 0) 100%
		), hsl(240, 2%, 13%);
		--bg-gradient-blue-1: linear-gradient(
			to bottom right, 
			hsl(180, 58%, 72%) 0%, 
			hsla(36, 100%, 69%, 0) 50%
		);
		--bg-gradient-blue-2: linear-gradient(
			135deg, 
			hsla(180, 100%, 71%, 0.251) 0%, 
			hsla(160, 100%, 68%, 0) 59.86%
		), hsl(240, 2%, 13%);
		--border-gradient-onyx: linear-gradient(
			to bottom right, 
			hsl(0, 0%, 25%) 0%, 
			hsla(0, 0%, 25%, 0) 50%
		);
		--text-gradient-blue: linear-gradient(
			to right, 
			hsl(180, 58%, 72%), 
			hsl(160, 100%, 68%)
		);

		/* solid */

		--jet: hsl(0, 0%, 22%);
		--onyx: hsl(240, 1%, 17%);
		--eerie-black-1: hsl(240, 2%, 13%);
		--eerie-black-2: hsl(240, 2%, 12%);
		--smoky-black: hsl(0, 0%, 7%);
		--white-1: hsl(0, 0%, 100%);
		--white-2: hsl(0, 0%, 98%);		
		--blue-green-crayola: hsl(180, 58%, 72%);
		--old-blue: hsl(180, 54%, 58%);
		--light-gray: hsl(0, 0%, 84%);
		--light-gray-70: hsla(0, 0%, 84%, 0.7);
		--bittersweet-shimmer: hsl(0, 43%, 51%);

		/* font-size */
		--fs-1: 24px;
 	 --fs-2: 18px;
		--fs-3: 17px;
		--fs-4: 16px;
		--fs-5: 15px;
		--fs-6: 14px;
		--fs-7: 13px;
		--fs-8: 11px;

		/* font-weight */
		--fw-300: 400;
		--fw-400: 500;
		--fw-500: 600;
		--fw-600: 700;

		/**
		* shadow
		*/
		
		--shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
		--shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
		--shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
		--shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
		--shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

		/**
		* transition
		*/

		--transition-1: 0.25s ease;
		--transition-2: 0.5s ease-in-out;

	}

	*, *::before, *::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	.h2, .h3, .h4, .h5 {
    color: var(--white-2);
    text-transform: capitalize;
	}	

	
	.h2 { font-size: var(--fs-1); }

	.h3 { font-size: var(--fs-2); }

	.h4 { font-size: var(--fs-4); }

	.h5 {
		font-size: var(--fs-7);
		font-weight: var(--fw-500);
	}

	a { text-decoration: none;}

	img, ion-icon, a, button, time, span { display: block; }

	li { list-style: none; }

	button{
		background: none;
		border: none;
		text-align: left;
		cursor: pointer;
	}


	html {
		font-family: 'Noto Sans Variable', sans-serif;
	}

	body { background: var(--smoky-black); }

	
	main {
		margin: 15px 12px;
		margin-bottom: 75px;
		min-width: 259px;
	}

	

	@media (min-width: 580px) {
		:root {
			--fs-1: 32px;
			--fs-2: 24px;
			--fs-3: 26px;
			--fs-4: 18px;
			--fs-6: 15px;
			--fs-7: 15px;
			--fs-8: 12px;

		}

		main {
			margin-top: 50px;
			margin-bottom: 100px;
		}
	}

	@media (min-width: 1024px) {
		:root {

			--shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
			--shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
			--shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);

		}
		
		main { margin-bottom: 50px; }

		.main-content {
			position: relative;
			width: max-content;
			margin: auto;
		}

	}

	
@media (min-width: 1250px) {

	body::-webkit-scrollbar { width: 20px; }

	body::-webkit-scrollbar-track { background: var(--smoky-black); }

	body::-webkit-scrollbar-thumb {
		border: 5px solid var(--smoky-black);
		background: hsla(0, 0%, 100%, 0.1);
		border-radius: 20px;
		box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
								inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
	}

	body::-webkit-scrollbar-thumb:hover { background: hsla(0, 0%, 100%, 0.15); }

	body::-webkit-scrollbar-button { height: 60px; }

	main {
		max-width: 1200px;
		margin-inline: auto;
		display: flex;
		justify-content: center;
		align-items: stretch;
		gap: 25px;
	}

	.main-content {
		min-width: 75%;
		width: 75%;
		margin: 0;
	}
}


	
</style>
